--
-- PostgreSQL database dump
--

\restrict ntX6B6CHSsS8po8EzIffgB2EBE03GLNUgPmkvZ6f3IRNIw9gYAGDNHkDM2lW7RN

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_disjoint_subclass(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_disjoint_subclass() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
    DECLARE
        found BOOLEAN;
    BEGIN
        SELECT (
            EXISTS (SELECT 1 FROM companies WHERE asset_id = NEW.asset_id)
            OR EXISTS (SELECT 1 FROM etfs WHERE asset_id = NEW.asset_id)
            OR EXISTS (SELECT 1 FROM cryptocurrencies WHERE asset_id = NEW.asset_id)
            OR EXISTS (SELECT 1 FROM precious_metals WHERE asset_id = NEW.asset_id)) 
        INTO found;

        IF found THEN
            RAISE EXCEPTION 'asset_id % already exist', NEW.asset_id;
        END IF;

        RETURN NEW;
    END;
    $$;


ALTER FUNCTION public.check_disjoint_subclass() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_industries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_industries (
    asset_id integer NOT NULL,
    industry_id integer NOT NULL
);


ALTER TABLE public.asset_industries OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    company_id integer NOT NULL,
    asset_id integer NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_company_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.companies_company_id_seq OWNER TO postgres;

--
-- Name: companies_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_company_id_seq OWNED BY public.companies.company_id;


--
-- Name: countries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.countries (
    country_id integer NOT NULL,
    country_name character varying(100) NOT NULL
);


ALTER TABLE public.countries OWNER TO postgres;

--
-- Name: countries_country_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.countries_country_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.countries_country_id_seq OWNER TO postgres;

--
-- Name: countries_country_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.countries_country_id_seq OWNED BY public.countries.country_id;


--
-- Name: cryptocurrencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cryptocurrencies (
    crypto_id integer NOT NULL,
    asset_id integer NOT NULL
);


ALTER TABLE public.cryptocurrencies OWNER TO postgres;

--
-- Name: cryptocurrencies_crypto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cryptocurrencies_crypto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cryptocurrencies_crypto_id_seq OWNER TO postgres;

--
-- Name: cryptocurrencies_crypto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cryptocurrencies_crypto_id_seq OWNED BY public.cryptocurrencies.crypto_id;


--
-- Name: etfs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etfs (
    etf_id integer NOT NULL,
    asset_id integer NOT NULL,
    expense_ratio numeric(6,4)
);


ALTER TABLE public.etfs OWNER TO postgres;

--
-- Name: etfs_etf_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.etfs_etf_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.etfs_etf_id_seq OWNER TO postgres;

--
-- Name: etfs_etf_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.etfs_etf_id_seq OWNED BY public.etfs.etf_id;


--
-- Name: industries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.industries (
    industry_id integer NOT NULL,
    industry_name character varying(100) NOT NULL,
    industry_url text
);


ALTER TABLE public.industries OWNER TO postgres;

--
-- Name: industries_industry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.industries_industry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.industries_industry_id_seq OWNER TO postgres;

--
-- Name: industries_industry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.industries_industry_id_seq OWNED BY public.industries.industry_id;


--
-- Name: market_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_assets (
    asset_id integer NOT NULL,
    name character varying(250) NOT NULL,
    detail_url text NOT NULL,
    ticker_code character varying(50),
    exchange_suffix character varying(20),
    country_id integer NOT NULL
);


ALTER TABLE public.market_assets OWNER TO postgres;

--
-- Name: market_assets_asset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.market_assets_asset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.market_assets_asset_id_seq OWNER TO postgres;

--
-- Name: market_assets_asset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.market_assets_asset_id_seq OWNED BY public.market_assets.asset_id;


--
-- Name: market_cap_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_cap_snapshots (
    snapshot_id integer NOT NULL,
    company_id integer NOT NULL,
    market_cap numeric(20,2),
    price numeric(12,4),
    today_change_pct numeric(10,3),
    extracted_at timestamp with time zone NOT NULL
);


ALTER TABLE public.market_cap_snapshots OWNER TO postgres;

--
-- Name: market_cap_snapshots_snapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.market_cap_snapshots_snapshot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.market_cap_snapshots_snapshot_id_seq OWNER TO postgres;

--
-- Name: market_cap_snapshots_snapshot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.market_cap_snapshots_snapshot_id_seq OWNED BY public.market_cap_snapshots.snapshot_id;


--
-- Name: market_cap_yearly_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_cap_yearly_history (
    company_id integer NOT NULL,
    year integer NOT NULL,
    market_cap numeric(20,2),
    change_pct numeric(10,3),
    CONSTRAINT market_cap_yearly_history_year_check CHECK (((year >= 1990) AND (year <= 2050)))
);


ALTER TABLE public.market_cap_yearly_history OWNER TO postgres;

--
-- Name: precious_metals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.precious_metals (
    metal_id integer NOT NULL,
    asset_id integer NOT NULL,
    estimated_mined_quantity numeric(20,2)
);


ALTER TABLE public.precious_metals OWNER TO postgres;

--
-- Name: precious_metals_metal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.precious_metals_metal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.precious_metals_metal_id_seq OWNER TO postgres;

--
-- Name: precious_metals_metal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.precious_metals_metal_id_seq OWNED BY public.precious_metals.metal_id;


--
-- Name: companies company_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN company_id SET DEFAULT nextval('public.companies_company_id_seq'::regclass);


--
-- Name: countries country_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries ALTER COLUMN country_id SET DEFAULT nextval('public.countries_country_id_seq'::regclass);


--
-- Name: cryptocurrencies crypto_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cryptocurrencies ALTER COLUMN crypto_id SET DEFAULT nextval('public.cryptocurrencies_crypto_id_seq'::regclass);


--
-- Name: etfs etf_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etfs ALTER COLUMN etf_id SET DEFAULT nextval('public.etfs_etf_id_seq'::regclass);


--
-- Name: industries industry_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industries ALTER COLUMN industry_id SET DEFAULT nextval('public.industries_industry_id_seq'::regclass);


--
-- Name: market_assets asset_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_assets ALTER COLUMN asset_id SET DEFAULT nextval('public.market_assets_asset_id_seq'::regclass);


--
-- Name: market_cap_snapshots snapshot_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_cap_snapshots ALTER COLUMN snapshot_id SET DEFAULT nextval('public.market_cap_snapshots_snapshot_id_seq'::regclass);


--
-- Name: precious_metals metal_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precious_metals ALTER COLUMN metal_id SET DEFAULT nextval('public.precious_metals_metal_id_seq'::regclass);


--
-- Data for Name: asset_industries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (company_id, asset_id) FROM stdin;
1	1
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
11	11
12	12
13	13
14	14
15	15
16	16
17	17
18	18
19	19
20	20
21	21
22	22
23	23
24	24
25	25
26	26
27	27
28	28
29	29
30	30
31	31
32	32
33	33
34	34
35	35
36	36
37	37
38	38
39	39
40	40
41	41
42	42
43	43
44	44
45	45
46	46
47	47
48	48
49	49
50	50
51	51
52	52
53	53
54	54
55	55
56	56
57	57
58	58
59	59
60	60
61	61
62	62
63	63
64	64
65	65
66	66
67	67
68	68
69	69
70	70
71	71
72	72
73	73
74	74
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.countries (country_id, country_name) FROM stdin;
1	USA
2	China
3	Israel
4	UAE
5	S. Korea
6	Australia
7	Canada
8	Italy
9	Singapore
10	Brazil
11	Taiwan
\.


--
-- Data for Name: cryptocurrencies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cryptocurrencies (crypto_id, asset_id) FROM stdin;
\.


--
-- Data for Name: etfs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.etfs (etf_id, asset_id, expense_ratio) FROM stdin;
\.


--
-- Data for Name: industries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: market_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: market_cap_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: market_cap_yearly_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: precious_metals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.precious_metals (metal_id, asset_id, estimated_mined_quantity) FROM stdin;
\.


--
-- Name: companies_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companies_company_id_seq', 74, true);


--
-- Name: countries_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.countries_country_id_seq', 11, true);


--
-- Name: cryptocurrencies_crypto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cryptocurrencies_crypto_id_seq', 1, false);


--
-- Name: etfs_etf_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.etfs_etf_id_seq', 1, false);


--
-- Name: industries_industry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.industries_industry_id_seq', 37, true);


--
-- Name: market_assets_asset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_assets_asset_id_seq', 74, true);


--
-- Name: market_cap_snapshots_snapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_cap_snapshots_snapshot_id_seq', 74, true);


--
-- Name: precious_metals_metal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.precious_metals_metal_id_seq', 1, false);


--
-- Name: asset_industries asset_industries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_industries
    ADD CONSTRAINT asset_industries_pkey PRIMARY KEY (asset_id, industry_id);


--
-- Name: companies companies_asset_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_asset_id_key UNIQUE (asset_id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (company_id);


--
-- Name: countries countries_country_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_country_name_key UNIQUE (country_name);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (country_id);


--
-- Name: cryptocurrencies cryptocurrencies_asset_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cryptocurrencies
    ADD CONSTRAINT cryptocurrencies_asset_id_key UNIQUE (asset_id);


--
-- Name: cryptocurrencies cryptocurrencies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cryptocurrencies
    ADD CONSTRAINT cryptocurrencies_pkey PRIMARY KEY (crypto_id);


--
-- Name: etfs etfs_asset_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etfs
    ADD CONSTRAINT etfs_asset_id_key UNIQUE (asset_id);


--
-- Name: etfs etfs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etfs
    ADD CONSTRAINT etfs_pkey PRIMARY KEY (etf_id);


--
-- Name: industries industries_industry_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industries
    ADD CONSTRAINT industries_industry_name_key UNIQUE (industry_name);


--
-- Name: industries industries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industries
    ADD CONSTRAINT industries_pkey PRIMARY KEY (industry_id);


--
-- Name: market_assets market_assets_detail_url_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_assets
    ADD CONSTRAINT market_assets_detail_url_key UNIQUE (detail_url);


--
-- Name: market_assets market_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_assets
    ADD CONSTRAINT market_assets_pkey PRIMARY KEY (asset_id);


--
-- Name: market_cap_snapshots market_cap_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_cap_snapshots
    ADD CONSTRAINT market_cap_snapshots_pkey PRIMARY KEY (snapshot_id);


--
-- Name: market_cap_yearly_history market_cap_yearly_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_cap_yearly_history
    ADD CONSTRAINT market_cap_yearly_history_pkey PRIMARY KEY (company_id, year);


--
-- Name: precious_metals precious_metals_asset_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precious_metals
    ADD CONSTRAINT precious_metals_asset_id_key UNIQUE (asset_id);


--
-- Name: precious_metals precious_metals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precious_metals
    ADD CONSTRAINT precious_metals_pkey PRIMARY KEY (metal_id);


--
-- Name: companies trigger_companies; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_companies BEFORE INSERT ON public.companies FOR EACH ROW EXECUTE FUNCTION public.check_disjoint_subclass();


--
-- Name: cryptocurrencies trigger_crypto; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_crypto BEFORE INSERT ON public.cryptocurrencies FOR EACH ROW EXECUTE FUNCTION public.check_disjoint_subclass();


--
-- Name: etfs trigger_etfs; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_etfs BEFORE INSERT ON public.etfs FOR EACH ROW EXECUTE FUNCTION public.check_disjoint_subclass();


--
-- Name: precious_metals trigger_metals; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_metals BEFORE INSERT ON public.precious_metals FOR EACH ROW EXECUTE FUNCTION public.check_disjoint_subclass();


--
-- Name: asset_industries asset_industries_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_industries
    ADD CONSTRAINT asset_industries_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.market_assets(asset_id) ON DELETE CASCADE;


--
-- Name: asset_industries asset_industries_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_industries
    ADD CONSTRAINT asset_industries_industry_id_fkey FOREIGN KEY (industry_id) REFERENCES public.industries(industry_id) ON DELETE CASCADE;


--
-- Name: companies companies_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.market_assets(asset_id) ON DELETE CASCADE;


--
-- Name: cryptocurrencies cryptocurrencies_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cryptocurrencies
    ADD CONSTRAINT cryptocurrencies_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.market_assets(asset_id) ON DELETE CASCADE;


--
-- Name: etfs etfs_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etfs
    ADD CONSTRAINT etfs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.market_assets(asset_id) ON DELETE CASCADE;


--
-- Name: market_assets market_assets_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_assets
    ADD CONSTRAINT market_assets_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.countries(country_id);


--
-- Name: market_cap_snapshots market_cap_snapshots_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_cap_snapshots
    ADD CONSTRAINT market_cap_snapshots_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id) ON DELETE CASCADE;


--
-- Name: market_cap_yearly_history market_cap_yearly_history_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_cap_yearly_history
    ADD CONSTRAINT market_cap_yearly_history_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id) ON DELETE CASCADE;


--
-- Name: precious_metals precious_metals_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.precious_metals
    ADD CONSTRAINT precious_metals_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.market_assets(asset_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ntX6B6CHSsS8po8EzIffgB2EBE03GLNUgPmkvZ6f3IRNIw9gYAGDNHkDM2lW7RN

