--
-- PostgreSQL database dump
--

\restrict wXpPJE7jEg75SMXDLXagQgwOoEDI3Ao09y6PIbRSTt41ahzzh07GP00L7LDme8x

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bridge_company_industry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bridge_company_industry (
    company_id integer NOT NULL,
    industry_id integer NOT NULL
);


ALTER TABLE public.bridge_company_industry OWNER TO postgres;

--
-- Name: dim_company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_company (
    company_id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    ticker_code character varying(50),
    country_name character varying(100)
);


ALTER TABLE public.dim_company OWNER TO postgres;

--
-- Name: dim_date_year; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_date_year (
    year integer NOT NULL
);


ALTER TABLE public.dim_date_year OWNER TO postgres;

--
-- Name: dim_industry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_industry (
    industry_id integer NOT NULL,
    industry_name character varying(100) NOT NULL
);


ALTER TABLE public.dim_industry OWNER TO postgres;

--
-- Name: fact_snapshot_marketcap; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_snapshot_marketcap (
    company_id integer NOT NULL,
    extracted_at timestamp with time zone NOT NULL,
    market_cap numeric(20,2),
    price numeric(12,4),
    change_pct numeric(10,3)
);


ALTER TABLE public.fact_snapshot_marketcap OWNER TO postgres;

--
-- Name: fact_yearly_marketcap; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_yearly_marketcap (
    company_id integer NOT NULL,
    year integer NOT NULL,
    market_cap numeric(20,2),
    change_pct numeric(10,3)
);


ALTER TABLE public.fact_yearly_marketcap OWNER TO postgres;

--
-- Data for Name: bridge_company_industry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dim_company; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dim_date_year; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dim_date_year (year) FROM stdin;
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
\.


--
-- Data for Name: dim_industry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_snapshot_marketcap; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_yearly_marketcap; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bridge_company_industry bridge_company_industry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bridge_company_industry
    ADD CONSTRAINT bridge_company_industry_pkey PRIMARY KEY (company_id, industry_id);


--
-- Name: dim_company dim_company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_company
    ADD CONSTRAINT dim_company_pkey PRIMARY KEY (company_id);


--
-- Name: dim_date_year dim_date_year_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_date_year
    ADD CONSTRAINT dim_date_year_pkey PRIMARY KEY (year);


--
-- Name: dim_industry dim_industry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_industry
    ADD CONSTRAINT dim_industry_pkey PRIMARY KEY (industry_id);


--
-- Name: fact_snapshot_marketcap fact_snapshot_marketcap_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_snapshot_marketcap
    ADD CONSTRAINT fact_snapshot_marketcap_pkey PRIMARY KEY (company_id, extracted_at);


--
-- Name: fact_yearly_marketcap fact_yearly_marketcap_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_yearly_marketcap
    ADD CONSTRAINT fact_yearly_marketcap_pkey PRIMARY KEY (company_id, year);


--
-- Name: bridge_company_industry bridge_company_industry_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bridge_company_industry
    ADD CONSTRAINT bridge_company_industry_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.dim_company(company_id);


--
-- Name: bridge_company_industry bridge_company_industry_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bridge_company_industry
    ADD CONSTRAINT bridge_company_industry_industry_id_fkey FOREIGN KEY (industry_id) REFERENCES public.dim_industry(industry_id);


--
-- Name: fact_snapshot_marketcap fact_snapshot_marketcap_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_snapshot_marketcap
    ADD CONSTRAINT fact_snapshot_marketcap_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.dim_company(company_id);


--
-- Name: fact_yearly_marketcap fact_yearly_marketcap_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_yearly_marketcap
    ADD CONSTRAINT fact_yearly_marketcap_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.dim_company(company_id);


--
-- Name: fact_yearly_marketcap fact_yearly_marketcap_year_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_yearly_marketcap
    ADD CONSTRAINT fact_yearly_marketcap_year_fkey FOREIGN KEY (year) REFERENCES public.dim_date_year(year);


--
-- PostgreSQL database dump complete
--

\unrestrict wXpPJE7jEg75SMXDLXagQgwOoEDI3Ao09y6PIbRSTt41ahzzh07GP00L7LDme8x

